@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    
    .navbar-nav > .user-menu .user-image {
        float: right;
    width: 50px;
    height: 50px; 
    margin-left: 10px;
    margin-top: -35px;
    margin-right: -15px;
    }
}


