*.pdb
*.txt
*.cache
*.vspscc
*.vssscc
*.force
*.cache
*.cache
Plugins/GSC.Rover.DMS/AllocatedVehicle/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Plugins/GSC.Rover.DMS/AllocatedVehicle/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Plugins/GSC.Rover.DMS/CashReceipt/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Plugins/GSC.Rover.DMS/AllocatedVehicle/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Plugins/GSC.Rover.DMS/Contact/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Plugins/GSC.Rover.DMS/ProspectInquiry/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
