<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <!-- Dev Environment-->
    <add key="OrgUri" value="http://xrmdmscrm/MMPCDEV/XRMServices/2011/Organization.svc"/>
    <add key="username" value="xrm\administrator"/>
    <add key="password" value="*StopUsingWeakPasswords!"/>
    
    <!-- Test Environment-->
    <!--<add key="OrgUri" value="http://dmsqaapp2/MMPCQA/XRMServices/2011/Organization.svc"/>
    <add key="username" value="xrm\administrator"/>
    <add key="password" value="*StopUsingWeakPasswords!"/>-->
    
    <!-- UAT Environment-->
    <!--<add key="OrgUri" value="http://dmsuatapp22/MMPCUAT/XRMServices/2011/Organization.svc"/>
    <add key="username" value="xrm\administrator"/>
    <add key="password" value="*StopUsingWeakPasswords!"/>-->
  
  </appSettings>
</configuration>